<div>
  <p>
    cursos works! aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    {{ nameText }}
  </p>
  <select #classe (classe)="(0)">
    <option class="alert-success">sucesso</option>
    <option class="alert-info">info</option>
    <option class="alert-danger">danger</option>
  </select>

  <div
    class="alert"
    role="alert"
    [class.alert-success]="classe.value == 'alert-success'"
  >
    ...
  </div>
  <div
    class="alert"
    role="alert"
    [class.alert-info]="classe.value == 'alert-info'"
  >
    ...
  </div>
  <div
    class="alert"
    role="alert"
    [class.alert-danger]="classe.value == 'alert-danger'"
  >
    ...
  </div>

  <!-- <button type="button" class="btn btn-primary">Primary</button> -->

  <!-- <ul>
    <li *ngFor="let curso of cursos">
      {{ curso }}
    </li>
  </ul> -->
</div>
