.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.btnContainer {
  display: flex;
  flex-direction: row-reverse;
  /* justify-content: space-between; */
}
.errorField {
  color: red;
}

.anchorClick {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
.container-select {
  display: flex;
  flex-direction: row;
}
select {
  width: 15%;
  /* @media (min-width: 701px) {
    width: 15%;
  } */

  /* @media (max-width: 600px) {
    width: 50%;
  } */
}
