<div class="container">
  <div *ngIf="isRegisterPage">
    <h3>Registre-se</h3>
  </div>
  <div *ngIf="!isRegisterPage">
    <h3>Login</h3>
  </div>
  <br />
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="form-group">
      <label for="email" class="form-label">E-mail</label>
      <input
        id="email"
        class="form-control"
        placeholder="nome@mail.com"
        type="email"
        ngModel
        name="email"
        #email="ngModel"
        required
      />
    </div>
    <div class="form-group">
      <label for="studantCode" class="form-label">Matrícula</label>
      <input
        id="studantCode"
        class="form-control"
        placeholder="0000-0000"
        type="text"
        maxlength="10"
        ngModel
        name="studantCode"
        #studantCode="ngModel"
        required
      />
    </div>
    <div class="form-group">
      <label for="password" class="form-label">Senha</label>
      <input
        id="password"
        class="form-control"
        placeholder="preencha com a sua senha"
        type="password"
        maxlength="8"
        ngModel
        name="password"
        #password="ngModel"
        required
      />
    </div>

    <div class="form-group" *ngIf="isRegisterPage">
      <label for="password" class="form-label">Confirmar senha</label>
      <input
        id="rePassword"
        class="form-control"
        placeholder="confirme a sua senha"
        type="password"
        maxlength="8"
        ngModel
        name="rePassword"
        #rePassword="ngModel"
      />
      <span class="errorField" *ngIf="errorRePassowrd">
        {{ errorRePassowrd }}
      </span>
    </div>
    <div class="btnContainer">
      <span class="anchorClick" (click)="onFlipPage()">
        {{
          isRegisterPage
            ? "Já possui uma conta?"
            : "Ainda não possui uma conta?"
        }}
      </span>
      <button type="submit" class="btn btn-primary">
        {{ isRegisterPage ? "Registre-se" : "Login" }}
      </button>
    </div>
  </form>
</div>
