<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" (click)="onRedirectNav('/')">Navbar</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngIf="isLoggedUser?.token">
        <a class="nav-link" (click)="onRedirectNav('/user')">User</a>
        <!-- routerLink="/user" -->
      </li>

      <!-- <li class="nav-item" *ngIf="isLoggedUser?.token">
        <a class="nav-link" (click)="onRedirectNav('/laundry')">Laundry</a>
      </li> -->
      <!-- <li *ngIf="isLoggedUser?.token">
        <a class="nav-link" (click)="onRedirectNav('/machine')">Machine</a>
      </li> -->
      <li *ngIf="isLoggedUser?.token">
        <a class="nav-link" (click)="onRedirectNav('/schedule')">Agenda</a>
      </li>
      <li *ngIf="!isLoggedUser?.token">
        <a class="nav-link" (click)="onRedirectNav('/login')">Login</a>
      </li>
      <li *ngIf="isLoggedUser?.token">
        <a class="nav-link" (click)="onRedirectLogoff()">Sair</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
